@model MvcMovie.Models.ModelData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Price)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Author Name
        </th>
        <th>
            Description
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.reviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>

        </tr>
    }
    </tbody>



</table>
    <form asp-action="Details">

        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" name="Name" class="form-control" />

        </div>
        <div class="form-group">
            <label class="control-label">Review</label>
            <input type="text" name="Review" class="form-control" />

        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
